# Grouper Dates Example Step by step

In [127]:
import pandas as pd

In [128]:
df = pd.read_csv("data/power_consumption_g3_feat.csv")
df

,Date,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows
0,2017-03-01 16:40:00,21.33,55.91,0.080,387.400,427.300
1,2017-07-27 06:30:00,23.10,48.58,4.908,10.450,8.630
2,2017-10-11 19:00:00,23.10,59.82,0.084,0.446,0.322
3,2017-02-10 06:50:00,12.25,80.80,4.916,0.051,0.111
4,2017-03-06 16:00:00,15.62,59.38,0.075,533.400,579.900
...,...,...,...,...,...,...
52411,2017-05-14 02:20:00,23.58,43.10,0.075,0.110,0.122
52412,2017-11-17 19:20:00,17.30,76.50,0.075,0.040,0.148
52413,2017-03-21 12:10:00,17.90,50.28,0.081,837.000,296.700
52414,2017-07-28 05:10:00,25.23,61.32,4.907,0.091,0.119
52415,2017-12-16 20:30:00,13.90,80.80,0.082,0.051,0.152

In [129]:
df.isnull().sum()

Date                     0
Temperature            559
Humidity               499
WindSpeed              529
GeneralDiffuseFlows    524
DiffuseFlows           505
dtype: int64

### 1. Convert the Date Column to DateTime Format

In [131]:
df["Date"] = pd.to_datetime(df["Date"])
df

,Date,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows
0,2017-03-01 16:40:00,21.33,55.91,0.080,387.400,427.300
1,2017-07-27 06:30:00,23.10,48.58,4.908,10.450,8.630
2,2017-10-11 19:00:00,23.10,59.82,0.084,0.446,0.322
3,2017-02-10 06:50:00,12.25,80.80,4.916,0.051,0.111
4,2017-03-06 16:00:00,15.62,59.38,0.075,533.400,579.900
...,...,...,...,...,...,...
52411,2017-05-14 02:20:00,23.58,43.10,0.075,0.110,0.122
52412,2017-11-17 19:20:00,17.30,76.50,0.075,0.040,0.148
52413,2017-03-21 12:10:00,17.90,50.28,0.081,837.000,296.700
52414,2017-07-28 05:10:00,25.23,61.32,4.907,0.091,0.119
52415,2017-12-16 20:30:00,13.90,80.80,0.082,0.051,0.152

In [132]:
df.isnull().sum()

Date                     0
Temperature            559
Humidity               499
WindSpeed              529
GeneralDiffuseFlows    524
DiffuseFlows           505
dtype: int64

### 2. Set the Date Column as the Index of the DataFrame

In [134]:
df.set_index(keys=['Date'], inplace = True)
df

,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows
Date,,,,,
2017-03-01 16:40:00,21.33,55.91,0.080,387.400,427.300
2017-07-27 06:30:00,23.10,48.58,4.908,10.450,8.630
2017-10-11 19:00:00,23.10,59.82,0.084,0.446,0.322
2017-02-10 06:50:00,12.25,80.80,4.916,0.051,0.111
2017-03-06 16:00:00,15.62,59.38,0.075,533.400,579.900
...,...,...,...,...,...
2017-05-14 02:20:00,23.58,43.10,0.075,0.110,0.122
2017-11-17 19:20:00,17.30,76.50,0.075,0.040,0.148
2017-03-21 12:10:00,17.90,50.28,0.081,837.000,296.700
2017-07-28 05:10:00,25.23,61.32,4.907,0.091,0.119
2017-12-16 20:30:00,13.90,80.80,0.082,0.051,0.152

In [135]:
df.isnull().sum()

Temperature            559
Humidity               499
WindSpeed              529
GeneralDiffuseFlows    524
DiffuseFlows           505
dtype: int64

### 3. Sort the DataFrame by the Index (which is now Date)

In [137]:
df.sort_index(inplace = True)
df

,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows
Date,,,,,
2017-01-01 00:00:00,6.559,73.8,0.083,0.051,0.119
2017-01-01 00:10:00,6.414,74.5,0.083,0.070,0.085
2017-01-01 00:20:00,6.313,74.5,0.080,0.062,0.100
2017-01-01 00:30:00,6.121,75.0,0.083,0.091,0.096
2017-01-01 00:40:00,5.921,75.7,0.081,0.048,0.085
...,...,...,...,...,...
2017-12-30 23:10:00,7.010,72.4,0.080,NaN,0.096
2017-12-30 23:20:00,6.947,72.6,0.082,0.051,0.093
2017-12-30 23:30:00,6.900,72.8,0.086,0.084,0.074
2017-12-30 23:40:00,6.758,73.0,0.080,0.066,0.089
2017-12-30 23:50:00,6.580,74.1,0.081,0.062,0.111

In [138]:
df.isnull().sum()

Temperature            559
Humidity               499
WindSpeed              529
GeneralDiffuseFlows    524
DiffuseFlows           505
dtype: int64

### 4. Interpolate Missing Values for Each Feature

In [140]:
features = ["Temperature", "Humidity", "WindSpeed", "GeneralDiffuseFlows", "DiffuseFlows"]
target = "SolarPower"

for feature in features:
	df[feature] = df[feature].interpolate(method = 'linear')

df

,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows
Date,,,,,
2017-01-01 00:00:00,6.559,73.8,0.083,0.051,0.119
2017-01-01 00:10:00,6.414,74.5,0.083,0.070,0.085
2017-01-01 00:20:00,6.313,74.5,0.080,0.062,0.100
2017-01-01 00:30:00,6.121,75.0,0.083,0.091,0.096
2017-01-01 00:40:00,5.921,75.7,0.081,0.048,0.085
...,...,...,...,...,...
2017-12-30 23:10:00,7.010,72.4,0.080,0.055,0.096
2017-12-30 23:20:00,6.947,72.6,0.082,0.051,0.093
2017-12-30 23:30:00,6.900,72.8,0.086,0.084,0.074
2017-12-30 23:40:00,6.758,73.0,0.080,0.066,0.089
2017-12-30 23:50:00,6.580,74.1,0.081,0.062,0.111

In [141]:
df.isnull().sum()

Temperature            0
Humidity               0
WindSpeed              0
GeneralDiffuseFlows    0
DiffuseFlows           0
dtype: int64

### 5. Group the Data by 2-Hour Intervals and Calculate the Mean

In [143]:
df = df.groupby(pd.Grouper(freq='2h')).mean()
df

,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows
Date,,,,,
2017-01-01 00:00:00,5.866833,76.300000,0.081917,0.060167,0.105667
2017-01-01 02:00:00,5.029333,78.008333,0.082583,0.061417,0.135083
2017-01-01 04:00:00,4.919667,74.641667,0.081667,0.061917,0.120833
2017-01-01 06:00:00,4.512750,74.575000,0.082417,0.063583,0.122500
2017-01-01 08:00:00,4.632167,73.791667,0.082417,79.281917,15.761833
...,...,...,...,...,...
2017-12-30 14:00:00,14.513333,39.675417,0.077667,409.650000,42.163333
2017-12-30 16:00:00,14.015000,43.082500,0.077500,153.905000,152.368333
2017-12-30 18:00:00,10.112500,60.359583,0.075583,1.618917,1.676750
2017-12-30 20:00:00,8.526667,66.832500,0.080917,0.062917,0.101667
2017-12-30 22:00:00,7.237917,71.607500,0.081667,0.060750,0.100417

In [144]:
df.isnull().sum()

Temperature            0
Humidity               0
WindSpeed              0
GeneralDiffuseFlows    0
DiffuseFlows           0
dtype: int64