In [271]:
import pandas as pd
import pandas as pd
import seaborn as sns
import missingno as msno
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

df = pd.read_csv('vacation_preferences_data.csv')

In [304]:
df.head()

,Age,Gender,Income,Education_Level,Travel_Frequency,Preferred_Activities,Vacation_Budget,Location,Proximity_to_Mountains,Proximity_to_Beaches,Favorite_Season,Pets,Environmental_Concerns,Preference
0,56.0,male,71477,bachelor,9,skiing,2477,urban,175.0,267,summer,0,1,1
1,69.0,male,88740,master,1,swimming,4777,suburban,NaN,190,fall,0,1,0
2,46.0,female,46562,master,0,skiing,1469,urban,71.0,280,winter,0,0,1
3,32.0,non-binary,99044,high school,6,hiking,1482,rural,31.0,255,summer,1,0,1
4,60.0,female,106583,high school,5,sunbathing,516,suburban,23.0,151,winter,1,1,0

In [306]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52444 entries, 0 to 52443
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     47200 non-null  float64
 1   Gender                  52444 non-null  object
 2   Income                  52444 non-null  int64
 3   Education_Level         49822 non-null  object
 4   Travel_Frequency        52444 non-null  int64
 5   Preferred_Activities    52444 non-null  object
 6   Vacation_Budget         52444 non-null  int64
 7   Location                52444 non-null  object
 8   Proximity_to_Mountains  49822 non-null  float64
 9   Proximity_to_Beaches    52444 non-null  int64
 10  Favorite_Season         52444 non-null  object
 11  Pets                    52444 non-null  int64
 12  Environmental_Concerns  52444 non-null  int64
 13  Preference              52444 non-null  int64
dtypes: float64(2), int64(7), object(5)
memory usage: 5.6+ MB

In [310]:
from sklearn.preprocessing LabelEncoder

encoder = LabelEncoder()
cat_cols = ['Gender', 'Education_Level','Preferred_Activities', 'Location', 'Favorite_Season']
df[cat_cols] = data[cat_cols].apply(lambda col : enc.fit_transform(col))

In [316]:
X = df.drop(['Preference'], axis=1)
y = df['Preference']

# X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)